<footer class="site-footer">
  <div class="container">
    <div class="footer-main">
      <div>
        <div class="footer-brand__name">QS Golf Coordinators</div>
        <div class="footer-brand__tagline">Network. Connect. Drive.<br>Drive Connections. Build Relationships.<br>Grow the Industry.</div>
        <a href="mailto:info@qsgolfcoordinators.co.za" class="footer-brand__email">info@qsgolfcoordinators.co.za</a>
      </div>
      <div>
        <div class="footer-col-title">Quick Links</div>
        <a class="footer-link" href="../QS-Golf-Main/">Home</a>
        <a class="footer-link" href="../QS-Golf-Main/about.html">About Us</a>
        <a class="footer-link" href="index.html">Shop</a>
        <a class="footer-link" href="my-account.html">My Account</a>
        <a class="footer-link" href="../QS-Golf-Main/contact.html">Contact Us</a>
        <a class="footer-link" href="../QS-Golf-Main/blog.html">Blog</a>
        <a class="footer-link" href="../QS-Golf-Main/faqs.html">FAQs</a>
      </div>
      <div>
        <div class="footer-col-title">Products</div>
        <a class="footer-link" href="apparel.html">Apparel</a>
        <a class="footer-link" href="drinkware.html">Drinkware</a>
        <a class="footer-link" href="golf-accessories.html">Golf Accessories</a>
        <a class="footer-link" href="gift-sets.html">Gift Sets</a>
        <a class="footer-link" href="stationery.html">Stationery &amp; Branding</a>
      </div>
      <div>
        <div class="footer-col-title">Corporate</div>
        <a class="footer-link" href="../QS-Golf-Main/corporate-packages.html">Packages</a>
        <a class="footer-link" href="../QS-Golf-Main/corporate-packages.html#enquire">Enquire Now</a>
        <a class="footer-link" href="../QS-Golf-Main/corporate-packages.html#process">Our Process</a>
        <a class="footer-link" href="../QS-Golf-Main/contact.html">Contact</a>
        <a class="footer-link" href="../QS-Golf-Main/faqs.html">FAQs</a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      © 2025 QS Golf Coordinators &nbsp;·&nbsp;
      <a href="#">Privacy Policy</a> &nbsp;·&nbsp;
      <a href="#">Terms &amp; Conditions</a>
    </div>
  </div>
</footer>
